*{
    margin: 0;
    padding: 0;
    @font-face {
        font-family: poppins;
        src: url(D:\Smit Practice\BMI-calculator\Fonts);}
    font-family: poppins;
    box-sizing: border-box;
}
body{
   height: 100%;
   width: 100%;
   background:url(/Images/ChatGPT\ Image\ Dec\ 12\,\ 2025\,\ 02_21_32\ PM.png)
   
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19em;
    margin-left: 50em;
    flex-direction: column;
    background-color:white;
    padding: 2em;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

}
input{
    width: 100%;
    height: 2.5em;
    margin: 1em;
    border-radius: 10em;
    border: dashed 1px;
    text-align: center;

}
@media body{
    
}
    
